!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/**
/public/system
/public/assets/*
/public/system/*
/tags
/tmp/*
/app/config.codekit
# Ignore application configuration
/config/application.yml
/config/database.yml
/config/provision/keys/**
/config/provision/vars.yml
/config/provision/configs/secrets.yml
