/*--------------
All Contents
--------------*/

/*-----------------
1. Reset.css
2. Helper Classes
3. Main and Hero Section Stylings
4. Services Styling
5. Features Split
6. Feature with BG
7. Feature Big
8. Testimonial Styling
9. Pricing Section
10. Call To Action Subscribe
11. Contact Section
12. Footer
13. Back to top
------------------*/


/*----- 1. Reset.css -----*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* --- Common Styles ---*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue';
  font-size: 16px;
}

p {
  font-family: 'Helvetica Neue';
  font-size: 14px;
}

/*----- Helper Classes -----*/

html * {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
::-webkit-scrollbar {
  display: none;
}
*/

::-moz-selection {
    color: #1106CC;
    background: #FFFFFF;
}

::selection {
    color: #1106CC;
    background: #FFFFFF;
}

.nopadding {
  padding: 0;
}

.custom-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   opacity: 1;
   background-color: #F2F2F2;
   z-index: 9999;
   text-align: center;
}

#loading-image {
  display: inline;
    top: 40%;
    position: relative;
  z-index: 9999;
}

.error-message {
  color: #FF3333;
  font-family: 'Helvetica Neue';
  margin-top: 5px;
}

.success-message {
  color:#33cc33;
  font-family: 'Helvetica Neue';
  margin-top: 5px;
}

.store-btn {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  left: 2%;
  top: 2%;
  z-index: 11;
}

/* ------ Navbar Styling Starts ----- */


.navbar {
  font-size: 14px;
  font-family: 'Helvetica Neue';
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 25px;
  letter-spacing: 1px;
  height: 80px;
}

.navbar-default {
  transition: all 0.6s ease;
  border-color: transparent;
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-radius: 0px;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #666666;
}

.navbar-default .navbar-brand .navbar-toggle .collapsed {
    padding: 4px 6px;
    font-size: 16px;
    color: #111111;
  }

.navbar-default .navbar-brand {
  font-family: 'Helvetica Neue';
  font-size: 24px;
  color: #444444;
  letter-spacing: 0;
  text-transform: capitalize;
  padding: 12px 0 0 0;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.navbar-default .navbar-brand {
  padding: 5px 0 0 0;
}

.navbar-default .navbar-brand:hover {
  color: #111111;
  transition: 1s;
}


.navbar-default .navbar-nav > li > a {
  font-family: 'Montserrat';
  font-size: 12px;
  color: #333333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5;
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #999999;
}

.navbar-default .navbar-nav > .active > a {
  background: transparent;
  color: #111111;
  }


.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #EFEFEF;
}

.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #111111;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
  color: #111111;
}

.navbar-default .nav-white > li > a {
  color: #FFFFFF;
}

.navbar-default .nav-white > li > a:hover {
  color: #EFEFEF;
}

.navbar-default .nav-white {
  color: #FFFFFF;
}


/*---------- Media Queries ---------*/

@media only screen and (max-width: 767px) {

  .navbar {
    padding-top: 5px;
    height: 60px;
  }

  .navbar-default {
    border: 0px;
    background-color: transparent;
  }

  .navbar-default .navbar-collapse {
    text-align: center;
    border-color: transparent;
    background-color: #FFFFFF;
  }

  .navbar-default .navbar-collapse {
    border: 0;
    border-color: transparent;
  }


  .navbar-default .navbar-nav > li> a {
    color: #111111;
    margin-top: 10px;
  }

  .navbar-default .navbar-nav > li> a:hover {
    color: #222222;

  }

  .navbar-default .navbar-brand {
    color: #222222;
    padding: 5px 5px !important;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #666666;
  }
}

@media only screen and (min-width: 240px) {

.navbar.past-main {
  transition: all 0.6s ease;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.99);
}

.navbar.effect-main:active {
  -webkit-transition: height 0.6s; /* For Safari 3.1 to 6.0 */
  transition: height 0.6s;
  height: 60px;
}

.navbar.past-main {
  font-size: 14px;
  padding-top: 5px;
  height: 60px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
  -moz-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
  box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
  -webkit-transition: 0.5s all ease; /* For Safari 3.1 to 6.0 */
  transition: 0.5s all ease;
}

.navbar-default.past-main .navbar-brand {
  font-size: 21px;
  color: #444444;
  padding: 5px 0;
}

.navbar-default.past-main .navbar-toggle .icon-bar {
  background-color: #111111;
}

.navbar-default.past-main .navbar-nav > li > a {
  color: #606060;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.navbar-default.past-main .navbar-nav > li > a:hover {
  color: #111111;
}

.navbar-default.past-main .navbar-nav > .active > a {
  background: transparent;
  color: #5924EC;
  }


.navbar-default.past-main .navbar-nav > .active > a:hover {
    background: transparent;
    color: #222222;
}

.navbar-default.past-main .navbar-nav > .active > a:focus {
  background: transparent;
  color: #222222;
}

.nav-alt.past-main .navbar-nav .btn-edge {
  color: #FFFFFF;
}

.nav-alt.past-main .navbar-nav .btn-edge:hover {
  color: #FFFFFF;
}

}


/* ------------- Navbar Alt Styling --------------*/


.nav-alt .navbar-nav > li > a {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  color: #444444;
  text-transform: capitalize;
}

.nav-alt .navbar-nav > li > a:hover {
  color: #111111;
}


.nav-alt .navbar-nav .btn-edge {
  margin: 8px 0 0 0;
  padding: 6px 15px;
  border-radius: 3px;
  background: #624dd6;
  border-color: #624dd6;
  color: #FFFFFF;
  font-size: 16px;
}

.nav-alt .navbar-nav .btn-edge:hover {
  background: #624dd6;
  color: #FFFFFF;
}

.nav-alt .navbar-nav .btn-edge:focus {
  background: #624dd6;
  color: #FFFFFF !important;
}


/* ---------------------------------------------------------
------------- CTA 2 Styling Starts Here  -------------------
----------------------------------------------------------*/

.cta-2 {
  background: #FFFFFF;
  width: 100%;
  padding: 150px 0 150px 0;
}


.cta-2-inner h1 {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 300;
  line-height: 1.4;
  color: #252525;
  margin-bottom: 20px;
}

.cta-2-inner p {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #2222222;
  margin-bottom: 10px;
}

.product .cta-2-inner h1 {
  font-family: 'Roboto';
  font-size: 34px;
  font-weight: 300;
  line-height: 1.3;
  color: #333333;
  margin-bottom: 30px;
}

.product .cta-2-inner p {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  color: #848484;
  margin-bottom: 10px;
}

.cta-2 img {
  margin-top: 20px;
}

.video-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 150px 0 250px 0;
}

.video-bg .cta-2-inner h1 {
  color: #FFFFFF;
}

.video-bg .cta-2-inner p {
  color: #FFFFFF;
}


.video-bg .video-icon {
  position: absolute;
  top: 120%;
  left:0;
  right: 0;
  outline: none;
}

.video-bg .video-icon i {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  padding-left: 7px;
  text-decoration: none;
  text-align: center;
  color: #6A11CB;
  background: #FFFFFF;
  font-size: 34px;
  font-weight: normal;
  line-height: 1.55em;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius: 50%;
  box-shadow:0 5px 10px rgba(0, 0, 0, .15);
}

/*----------------------------------------------------------
------------------ Cta Big Styling Starts ------------------
----------------------------------------------------------*/

.cta-big {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../images/p-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 150px 0 150px 0;
}


.cta-big-inner h1 {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 1.1;
}

.cta-big-inner p {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.4;
  margin: 20px 0 0 0;
}



/*--------------------------------------------------------
--------------- Footer 1 Styling Starts ------------------
--------------------------------------------------------*/

.footer {
  padding: 0px 0 25px 0;
  background: #F2F2F2;
}

.footer .to-top {
  position: absolute;
  left: 49%;
  top: -5%;
}

.footer .to-top i {
  font-size: 34px;
}

.footer .footer-content {
  padding: 50px 0 10px 0;
}

.footer .footer-content img {
  margin-bottom: 10px;
}

.footer .footer-content h4 {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: 500;
  color: #848484;
  margin-bottom: 5px;
}

.footer .footer-content p {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  font-weight: 300;
  color: #848484;
  margin-bottom: 10px;
}

.footer .footer-content ul {
  list-style-type: none;
}

.footer .footer-content ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Helvetica Neue';
  font-size: 14px;
}

.footer .footer-content ul li a {
  color: #747474;
}

/*------------ Footer Sm Styling ---------------*/


.footer-sm {
  padding: 75px 0 20px 0;
  background: #F1F1F1;
}

.footer-sm .footer-inner h1 {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 700;
}

.footer-sm .footer-inner sup {
  font-family: 'Montserrat';
  font-size: 10px;
  line-height: 1;
  font-weight: 300;
}


.footer-sm .footer-inner p {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  color: #848484;
  line-height: 1.4;
  margin: 20px 0 10px 0;
}

.footer-sm .footer-inner p:nth-child(3) {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 300;
}

.footer-sm .footer-social {
  margin-top: 20px;
}


.footer-sm .footer-social ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.footer-sm .footer-social ul li {
  display: inline;
  margin-right: 5px;
}

.footer-sm .footer-social li a i {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  padding-left: 1px;
  text-decoration: none;
  text-align: center;
  color: #222222;
  background: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.3em;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius: 50%;
}


/*------------ Footer Lg Styling ---------------*/

.footer-lg {
  background: #EEE;
  padding: 50px 0 50px 0;
}

.footer-lg .footer-left .footer-img {
  padding: 0 0 10px 0;
}

.footer-lg .footer-left p {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  color: #848484;
  line-height: 1.5;
  letter-spacing: 0;
  margin-top: 10px;
}


.footer-lg .footer-social ul {
  list-style-type: none;
  margin-top: 10px;
}

.footer-lg .footer-social ul li {
  display: inline;
  margin-right: 5px !important;
  background: #FFFFFF;
}

.footer-lg .footer-social li a i {
  display: inline-block;
  color: #242424;
  font-size: 18px;
  margin-right: 5px !important;
  font-weight: normal;
}

.footer-right {
  padding: 25px 0 0 0;
}

.footer-right ul {
  list-style-type: none;
  -webkit-columns: 2;
  columns: 2;
  padding: 0;
}

.footer-right ul li {
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5;
}

.footer-right ul li a {
  color: #454545;
  text-decoration: none;
}

.footer-lg .footer-right p {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  color: #848484;
  line-height: 1.5;
  letter-spacing: 0;
  margin-top: 10px;
}

/*-----------------------------------------------------
-------------------------------------------------------
------------------- All Media Queries------------------
-------------------------------------------------------
-----------------------------------------------------*/

@media only screen and (min-width: 767px) {

  .logo {
    left: 6%;
    top: 4%;
  }

  .hero-1 .intro {
    padding: 75px 0 75px 0;
  }

  .hero-1 .intro h1 {
    font-size: 54px;
  }

  .hero-3 .intro {
    padding: 100px 0 100px 0;
    text-align: left;
  }

  .hero-3 .intro h1 {
    font-size: 38px;
  }

  .hero-3 .intro p {
    font-size: 18px;
  }


  .signup {
    padding: 150px 0 100px 0;
  }

  .signup .intro h1 {
    font-size: 42px;
  }

  .hero-6 .intro h1 {
    font-size: 42px;
  }

  .hero-7 .intro h1 {
    font-size: 42px;
  }

  .hero-7 .intro h4 {
    font-size: 13px;
  }


  .hero-8 .intro h1 {
    font-size: 48px;
  }

  .pitch-inner h1 {
    font-size: 34px;
  }

  .points-intro h1 {
    font-size: 34px;
  }


  .pi-features .pi-feature-inner {
    padding: 50px;
  }

  .pi-features .icon i {
    font-size: 54px;
  }

  .features-list {
    padding: 20px 0 0 0;
    overflow: hidden;
  }

  .product .features-text {
    padding: 100px 0 0 0;
  }

  .features-text h1 {
    font-size: 34px;
    line-height: 1;
  }

  .flex-split {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .flex-split .f-left h2 {
    font-size: 34px;
  }

  .flex-split .f-left {
    padding: 80px;
  }

  .flex-split .f-right {
      flex: 1 0 50%;
  }

  .features-text h2 {
    font-size: 34px;
  }

  .features-text p {
    font-size: 18px;
  }


  .cta-big-inner h1 {
    font-size: 42px;
  }

  .cta-2-inner h1 {
    font-size: 34px;
  }



/* -------- Hero Split ------------ */

  .hero-split {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .hero-split .h-left {
    padding: 200px 50px 150px 50px;
  }

  .hero-split .h-right {
      flex: 1 0 50%;
  }

}


@media only screen and (min-width: 1024px) {

  .hero-split .h-left {
    padding: 200px 100px 150px 50px;
  }

  .hero-split .h-left h2 {
    font-size: 46px;
  }

  .features-text {
    padding: 75px 0 0 0;
  }

  .product .features-text {
    padding: 120px 0 0 0;
  }


  .features-list {
    padding: 150px 0 50px 0;
  }

  .service .features-list {
    padding: 0px 0 50px 0;
  }

  .specs-inner {
    padding: 50px 0 0 0;
  }

  .contact .address {
    padding: 100px 0 100px 100px;
  }

}

@media only screen and (max-width: 766px) {

  .flex-split .f-right {
    flex: 1 0 50%;
    height: 360px;
  }

  .hero-split .h-right {
    flex: 1 0 50%;
    height: 360px;
  }

}

@media screen and (min-width: 400px) and (max-width: 600px) {

 .subscribe-form .mail {
   padding: 0 30px 0 20px;
 }
}


@media screen and (max-width: 399px) {

  .subscribe-form {
    text-align: center;
  }

 .subscribe-form .mail {
   text-align: center;
   padding: 0 0 0 0;
 }

 .subscribe-form .submit-button {
   padding: 0 5px 0 5px;
   border-radius: 0 5px 5px 0;
   margin-top: 15px;
 }

 }






 .left-section {
     background-color: #F2F2F2;
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     width: 50%;
     height: 100%;
     overflow: hidden;
     z-index: 1;
 }


 .right-section {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 50px 0 50px;
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    z-index: 99;
    overflow: hidden;
    overflow-y: auto;
}


.cs-main .left-section .video-icon {
  position: absolute;
  top: 45%;
  left:0;
  right: 0;
  outline: none;
}

.cs-main .left-section .video-icon i {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  padding-left: 7px;
  text-decoration: none;
  text-align: center;
  color: #111111;
  background: #FFFFFF;
  font-size: 34px;
  font-weight: normal;
  line-height: 1.55em;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius: 50%;
  box-shadow:0 5px 10px rgba(0, 0, 0, .15);
}


ul#countdown {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}

ul#countdown li {
  display: inline-block;
}

ul#countdown li span {
  font-family: 'Helvetica Neue';
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  color: #6600CC;
  background: #F9F9F9;
  padding: 6px;
}

ul#countdown li.seperator {
  font-size: 24px;
  line-height: 1;
  vertical-align: top;
}

ul#countdown li p {
  font-family: 'Helvetica Neue';
  color: #111111;
  font-size: 14px;
  padding-top: 5px;
}


 .cs-main .intro {
   padding-top: 125px;
 }


 .cs-main .left-section {
   background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../images/split.jpg) no-repeat center center;
   background-size: cover;
  background-position: top;
 }

 .cs-main .right-section {
   background: #FFFFFF;
 }

 .cs-main .intro .intro-text h4 {
   font-family: 'Helvetica Neue';
   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 2px;
   text-transform: uppercase;
   font-weight: 300;
   color: #848484;
  margin-bottom: 20px;
 }

 .cs-main .intro .intro-text h1 {
   font-family: 'Helvetica Neue';
   font-size: 38px;
   line-height: 1.4;
   letter-spacing: -1px;
   font-weight: 300;
     color: #454545;
    max-width: 500px;
    margin-bottom: 20px;
 }

 .cs-main .intro .intro-text h1 span {
   color: #0040ff;
 }

 .cs-main .intro .intro-text p {
   font-family: 'Helvetica Neue';
   font-size: 14px;
  line-height: 1.6;
   color: #848484;
  margin-bottom: 20px;
 }

 .cs-main  .intro .intro-text h2 {
   font-family: 'Helvetica Neue';
   font-size: 14px;
   font-weight: 300;
   color: #848484;
   line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
   margin: 20px 0 10px 0;
 }

 .cs-main .intro .intro-text ul#countdown li {
   color: #0040ff;
 }


 .cs-main .intro .intro-text ul#countdown li span {
   font-family: 'Helvetica Neue';
   font-size: 30px;
   font-weight: 300;
   line-height: 1;
   color: #0040ff;
   background: transparent;
   padding: 6px;
 }

 .cs-main .intro .intro-text ul#countdown li p {
   color: #0040ff;
 }

.cs-main .subscribe-form .submit-button {
  font-size: 14px;
  border-color: #0040ff;
  background-color: #0040ff;
  color: #FFFFFF;
}

.cs-main .subscribe-form .submit-button:hover {
  box-shadow: 0 0 5px #999999;
}

.cs-main .subscribe-form  {
  text-align: left;
}

.cta-sub {
  padding: 0 0 20px 0;
}



  @media only screen and (max-width : 801px) {

     .right-section{
        position: relative;
        width: 100%;
    }

    .cs-main .intro .intro-text h1 {
      font-size: 28px;
    }


     .left-section{
        position: relative;
        width: 100%;
        min-height: 100vh;
    }

  }


 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

   .right-section{
      -webkit-overflow-scrolling: touch;
  }
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 736px) {

   .split-home .right-section,  .split-home .left-section{
      -webkit-overflow-scrolling: touch;
  }
}

  @media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation: landscape) {
   .right-section{
      -webkit-overflow-scrolling: touch;
  }
}

  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
     .left-section {
       min-height: 100vh;
    }
  }


  @media only screen and (max-width: 420px) {

    .right-section {
       padding: 0 20px 0 20px;
   }

  }



@media screen and (min-width: 400px) and (max-width: 600px) {

 .subscribe-form .mail {
   padding: 0 30px 0 20px;
 }
}


@media screen and (max-width: 399px) {

  .subscribe-form {
    text-align: left;
  }

  .subscribe-form {
    text-align: center;
  }

 .subscribe-form .mail {
   text-align: center;
   padding: 0 10px 0 10px;
 }

 .subscribe-form .submit-button {
   padding: 0 10px 0 10px;
   border-radius: 0 5px 5px 0;
   margin-top: 15px;
 }
}


/* --------------------------------------------------
------- Media Queries for Split Layout Ends ---------
---------------------------------------------------*/

